extends layout

block content
  div(class="retry")
    span(class="message") Ooops! This room is full, please try another one.    
      
  video(id="full-video" autoplay)
  script.
    var fullvideo = document.getElementById("full-video");
    navigator.getUserMedia({ 'audio': false, 'video': true}, function (stream) {
        var url = window.URL.createObjectURL(stream);        
        fullvideo.src = url;
        
    }, function(error){
      console.log(error);
    });
